@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Text&display=swap");

html {
  height: 100%;
}

body {
  font-family: "Big Shoulders Text", cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.home-container {
  background-color: yellow;
  height: 100%;
}
